<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<div class="container d-flex justify-content-center gap-5">
    <div class="accordion" id="accordionExample" >
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        All Departments
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <button class="btn btn-light">Fresh Meat</button>
      </div>
        <div class="accordion-body">
            <button class="btn btn-light">Vegetables</button>
      </div>
        <div class="accordion-body">
            <button class="btn btn-light">Fruit and Nut Gifts</button>
      </div>
        <div class="accordion-body">
            <button class="btn btn-light">Fresh Berries</button>
      </div>
        <div class="accordion-body">
            <button class="btn btn-light">Ocean Foods</button>
      </div>
        <div class="accordion-body">
            <button class="btn btn-light">Butter and Eggs</button>
      </div>
        <div class="accordion-body">
            <button class="btn btn-light">Fresh Onion</button>
      </div>
        <div class="accordion-body">
            <button class="btn btn-light">Oatmeal</button>
      </div>
        <div class="accordion-body">
            <button class="btn btn-light">Fresh Bananas</button>
      </div>
    </div>
  </div>
</div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://ivankitanovski.github.io/exam/banner.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="margin-right: 350px; margin-bottom: 50px">
          <h4 class="text-success">Fruit Fresh</h4>
          <h1 class="text-black">Vegetable</h1>
          <h1 class="text-black">100% Organic</h1>
          <h6 class="text-body-secondary">Free pickup and Delivery available</h6>4
          <button class="btn btn-success">Shop Now</button>
      </div>
    </div>
  </div>
</div>


</div>


<div class="container">
        <div class="container h-25 w-25">
            <h1>From The Blog</h1><br>
            <hr class="w-25">
        </div>
</div>

<div class="container h-25 w-50">
    <div class="card-group gap-3">
  <div class="card">
    <img src="https://ivankitanovski.github.io/exam/blog-1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://ivankitanovski.github.io/exam/blog-2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://ivankitanovski.github.io/exam/blog-3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>

<footer class="bg-secondary-subtle">
    <div class="container d-flex justify-content-between">
        <div class="d-flex flex-column">
        <h4>FINKI Exam</h4>
        <a>Organization</a>
        <a>Departmens</a>
        <a>Contact</a>
    </div>
    <div class="d-flex flex-column">
        <h4>Studies</h4>
        <a>Bachelor</a>
        <a>Masters</a>
        <a>PhD</a>
    </div>
    <div class="d-flex flex-column">
        <h4>Staff</h4>
        <a>Administrative</a>
        <a>Teaching</a>
    </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>