<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column" style="background: url('https://static.mycity.travel/manage/uploads/8/59/67650/1/vols-en-montgolfiere_1080.jpg'); background-size: cover; background-position: center; height: 90vh; gap: 50px">

  <div class="container">
<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            Flights
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" >Action</a></li>
            <li><a class="dropdown-item" href="#" >Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            Planes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" >Action</a></li>
            <li><a class="dropdown-item" href="#" >Another action</a></li>
            <li><a class="dropdown-item" href="#" >Something else here</a></li>
          </ul>
        </li>
        </li>
        <li class="nav-item">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            About Us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#" >Another action</a></li>
            <li><a class="dropdown-item" href="#" >Something else here</a></li>
          </ul>
        </li>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            Contact
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" >Action</a></li>
            <li><a class="dropdown-item" href="#" >Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
  </div>

  <div class="container d-flex justify-content-center" style="width: 100%; height: 450px; color: white">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h6>Best Airline Company</h6>
      <h1 style="font-size: 75px">Hot Air Balloon Rides</h1>
      <button class="btn btn-dark rounded-pill">GET YOUR TICKET</button>
    </div>
  </div>

</div>

<div class="container mt-5">
    <div class="row">
      {% for flight in flights %}
      <div class="col-sm-4 mt-2">
            <div class="card" style="width: 18rem;">
            <img src="{{MEDIA_URL}}{{flight.image.url}}" class="card-img-top" alt="...">
            <div class="card-body" style="background: #313030">
              <h6 style="color: white">{{flight.airportNameDepart}} - {{flight.airportNameArrive}}</h6>
              <h5 class="card-title" style="color: white">{{flight.balloon.name}}</h5>
              <p class="card-text" style="color: white">{{flight.aeroCompany.name}}</p>
              <a href="#" class="btn btn-primary">Book</a>
            </div>
          </div>

      </div>
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div>
  </div>

<div class="container d-flex justify-content-center mt-5">
    <form action="" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>