<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Repairs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manifacturers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-start align-items-center" style="background: url('https://media.istockphoto.com/id/628096148/vector/auto-repair.jpg?s=2048x2048&w=is&k=20&c=o7RTd1PS67iZ14k1foEtru8HNbFPWYfuENN4v4J0Ibo=') no-repeat; width: 100%; height: 80vh;">
  <div class="w-50 ms-5" >
    <h1 class="text-white">HONEST,QUALITY WORK</h1>
    <H1 class="text-white"><b>AT AFFORDABLE PRICES</b></H1>
    <p class="text-white">We provide top-notch service for import and domestic car repairs.Servicing Brakes,
    Exhaust,Tune Ups,Engine Repairs,Electrical and A.C Systems</p>
    <button class="btn btn-primary">GET FREE QUOTES</button>
  </div>
</div>

<div>
  <div class="container w-50 mt-5">
    <h3 style="margin-left: 250px">OUR SERVICES</h3>
    <p>
      Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls.
    </p>
  </div>
  <div class="container w-50 mt-5">
    <h3 style="margin-left: 250px">OUR GALLERY</h3>
    <p>
      Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls.
    </p>
  </div>
  <div class="container d-flex justify-content-center ">
    <img class="w-25 h-50" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/families-gallery/2023/revuelto/revuelto_m.png">
    <img class="w-25 h-50" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/families-gallery/2023/revuelto/revuelto_m.png">
    <img class="w-25 h-50" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/families-gallery/2023/revuelto/revuelto_m.png">
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <button class="btn btn-light">SEE FULL GALLERY</button>
</div>

<div class="container d-flex justify-content-center align-items-center mt-5 w-75 mb-5">
  <div class="d-flex">
    <img class="w-50 h-50" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/families-gallery/2023/revuelto/revuelto_m.png">
    <img class="w-50 h-50" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/families-gallery/2023/revuelto/revuelto_m.png">
  </div>
  <div class="d-flex flex-column justify-content-between">
    <h1>LONG TERM WARRANTIES AND COMPETITIVE PRICES</h1>
    <p>
      Why do we consider ourselves to be the best car garage? It’s simple, really. We know that honesty and transparency, coupled with reliable and friendly customer service, is what really builds customer trust.
    </p>
    <p>
      Trust the experts at our AutoService Shop for quality tune-ups. Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls. We offer competitive.
    </p>
    <button class="btn btn-primary w-50 h-25">SEE ALL OUR OFFERS</button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>